footer {
    height: 8rem;
}

footer>section {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 500;
}

footer>section>ul {
    align-self: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

footer>section>ul>li {
    margin-left: 4vw;
}