header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header>section {
    height: 100%
}

header>section>h2 {
    font-weight: 500;
    font-size: 8vmin;
    margin: 24vmin 0 0 0;
}

header>section>p {
    width: 90%;
    font-size: 4vmin;
}

#arrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-bottom: 4vh;
}