
input {
    display: none;
}

input:checked ~ #imprint { display: block; }

#imprint {
    display: none;
}

#imprint>section {
    margin: 3rem auto;
}

#imprint>section>address {
    font-size: 1rem;
}